.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #351f39;
}

h1 {
  margin: 30px;
  font-family: 'Reggae One', cursive;
  text-shadow: 5px 0 #726a95;
  font-size: 6rem;
  color: #719fb0;
}

p {
  font-size: 2rem;
  color: #cfc5a5;
  font-family: 'Oswald', sans-serif;
}

img {
  width: 80%;
  padding: .2rem;
  margin: 0;
}

footer {
  margin-top: 5%;
  color: #efe4f5;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: .75rem;

}
